<!-- Table -->
<div class="card shadow">
  <div class="card-header border-0">
    <h3 class="mb-0">Tourist Points</h3>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">regionId</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let touristpoint of touristpoints; let i = index">
          <th scope="row"> {{touristpoint.name}} </th>
          <td>{{touristpoint.regionId}}</td>
          <td>
            <button [routerLink]="['/tourist-points/tourist-point-editor',touristpoint.id]" type="button"
              placement="top-center" triggers="hover focus click" class="btn btn-rounded" ngxClipboard
              [cbContent]="'air-baloon'" (cbOnSuccess)="copy = 'air-baloon'">
              Edit
            </button>
          </td>
          <td>
            <button type="button" placement="top-center" triggers="hover focus click"
              class="btn btn-rounded btn-outline-danger" ngxClipboard [cbContent]="'air-baloon'"
              (cbOnSuccess)="copy = 'air-baloon'" (click)="delete(touristpoint)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
