<!-- Table -->
<div class="card shadow">
  <div class="card-header border-0">
    <h3 class="mb-0">Bookings</h3>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Code</th>
          <th scope="col">HouseId</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; let i = index">
          <th scope="row"> {{booking.name}} </th>
          <td>{{booking.email}}</td>
          <td>{{booking.code}} </td>
          <td>{{booking.houseId}}</td>
          <td>
              <button
                [routerLink]="['/bookings/booking-editor',booking.id]"
                type="button"
                placement="top-center"
                triggers="hover focus click"
                class="btn btn-rounded"
                ngxClipboard
                (cbOnSuccess) = "copy = 'air-baloon'">
                Edit
              </button>
              </td>
                <td>
              <button
                type="button"
                placement="top-center"
                triggers="hover focus click"
                class="btn btn-rounded btn-outline-danger"
                ngxClipboard
                (cbOnSuccess) = "copy = 'air-baloon'"
                (click)="delete(booking)">
                Delete
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
