.DS_Store
App/BusinessLogicInterface/bin
App/BusinessLogic/bin
App/DataAccess/bin
App/DataAccessInterface/bin
App/Domain/bin
App/.vs
*.cache
App/BusinessLogicInterface/obj
App/BusinessLogic/obj
App/DataAccess/obj
App/DataAccessInterface/obj
App/Domain/obj
App/.vscode

App/Factory/obj
App/WebApi/obj
