.DS_Store
App/BusinessLogicInterface/bin
App/BusinessLogic/bin
App/DataAccess/bin
App/DataAccessInterface/bin
App/Domain/bin
App/.vs
*.cache
App/BusinessLogicInterface/obj
App/BusinessLogic/obj
App/DataAccess/obj
App/DataAccessInterface/obj
App/Domain/obj
App/.vscode

App/Factory/obj
App/WebApi/obj
App/BusinessLogic.Test/obj
App/BusinessLogic.Test/bin
App/Factory/bin
App/WebApi/bin
App/Domain.Test/bin
App/Domain.Test/obj
App/Model/bin
App/Model/obj
App/WebApi.Test/bin
App/WebApi.Test/obj
App/WebApi/Properties/launchSettings.json
obj
App/WebApi/Properties/launchSettings.json
App/Migrations/obj
App/obj
obj
App/Migrations/bin
