#categoriesTouristPoints select {
  margin-bottom: 1rem;
}
.container-fluid.mt--7{
  margin-top: -26rem!important;
}
.errorMessage{
  font-weight: bold;
  color: red;
}
.successMessage{
  font-weight: bold;
  color: green;
}
