<div class="card shadow">
  <div class="card-header border-0">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Category</h3>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; let i = index">
          <th scope="row">
            {{category.id}}
          </th>
          <td>{{category.name}}</td>
          <td><a href="#/search/category/{{category.id}}"
            (click)="chooseCategory(category)"
            class="btn btn-sm btn-primary">Choose</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



