USE [UruguayNaturalDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[HouseId] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[CheckIn] [datetime2](7) NOT NULL,
	[CheckOut] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriesTouristicPoints]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesTouristicPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[TouristPointId] [int] NOT NULL,
 CONSTRAINT [PK_CategoriesTouristicPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Houses]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Houses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Avaible] [bit] NOT NULL,
	[PricePerNight] [int] NOT NULL,
	[TouristPointId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Starts] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Phone] [int] NOT NULL,
	[Contact] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Houses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImagesHouses]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagesHouses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Extention] [nvarchar](max) NULL,
	[HouseId] [int] NOT NULL,
 CONSTRAINT [PK_ImagesHouses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImagesTouristPoints]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagesTouristPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Extention] [nvarchar](max) NULL,
 CONSTRAINT [PK_ImagesTouristPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HouseId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Score] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [uniqueidentifier] NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TouristPoints]    Script Date: 11/26/2020 6:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TouristPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ImageTouristPointId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RegionId] [int] NOT NULL,
 CONSTRAINT [PK_TouristPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [Name], [Email], [Code], [HouseId], [StateId], [Price], [CheckIn], [CheckOut]) VALUES (1, N'Name booking 1', N'emailBooking1@gmail.com', N'KFNRH8BOB0', 1, 1, 100, CAST(N'2020-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-01-09T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Bookings] ([Id], [Name], [Email], [Code], [HouseId], [StateId], [Price], [CheckIn], [CheckOut]) VALUES (2, N'Name booking 2', N'emailBooking2@gmail.com', N'KFNRH8BOB1', 2, 2, 200, CAST(N'2020-02-02T00:00:00.0000000' AS DateTime2), CAST(N'2020-02-09T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Bookings] ([Id], [Name], [Email], [Code], [HouseId], [StateId], [Price], [CheckIn], [CheckOut]) VALUES (3, N'Name booking 3', N'emailBooking3@gmail.com', N'KFNRH8BOB2', 3, 3, 300, CAST(N'2020-03-03T00:00:00.0000000' AS DateTime2), CAST(N'2020-03-09T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Ciudad')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Pueblo')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Áreas protegida')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[CategoriesTouristicPoints] ON 

INSERT [dbo].[CategoriesTouristicPoints] ([Id], [CategoryId], [TouristPointId]) VALUES (1, 1, 1)
INSERT [dbo].[CategoriesTouristicPoints] ([Id], [CategoryId], [TouristPointId]) VALUES (2, 1, 2)
INSERT [dbo].[CategoriesTouristicPoints] ([Id], [CategoryId], [TouristPointId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[CategoriesTouristicPoints] OFF
SET IDENTITY_INSERT [dbo].[Houses] ON 

INSERT [dbo].[Houses] ([Id], [Avaible], [PricePerNight], [TouristPointId], [Name], [Starts], [Address], [Description], [Phone], [Contact], [CreatedOn]) VALUES (1, 1, 10, 1, N'Name contact house 1', 1, N'Address House 1', N'Posada de la Flor', 99199399, N'Contact House 1', CAST(N'2020-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Houses] ([Id], [Avaible], [PricePerNight], [TouristPointId], [Name], [Starts], [Address], [Description], [Phone], [Contact], [CreatedOn]) VALUES (2, 1, 20, 2, N'Name contact house 2', 1, N'Address House 2', N'Description', 99199378, N'Contact House 2', CAST(N'2020-02-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Houses] ([Id], [Avaible], [PricePerNight], [TouristPointId], [Name], [Starts], [Address], [Description], [Phone], [Contact], [CreatedOn]) VALUES (3, 1, 30, 3, N'Name contact house 3', 1, N'Address House 3', N'Description', 9199372, N'Contact House 3', CAST(N'2020-03-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Houses] OFF
SET IDENTITY_INSERT [dbo].[ImagesHouses] ON 

INSERT [dbo].[ImagesHouses] ([Id], [Name], [Extention], [HouseId]) VALUES (1, N'HousePosadaDeLaFlorTP1.jpeg', N'jpeg', 1)
INSERT [dbo].[ImagesHouses] ([Id], [Name], [Extention], [HouseId]) VALUES (2, N'HouseRadissonTP2.jpeg', N'jpeg', 2)
INSERT [dbo].[ImagesHouses] ([Id], [Name], [Extention], [HouseId]) VALUES (3, N'HouseHotelConcordeTP3.jpeg', N'jpeg', 3)
SET IDENTITY_INSERT [dbo].[ImagesHouses] OFF
SET IDENTITY_INSERT [dbo].[ImagesTouristPoints] ON 

INSERT [dbo].[ImagesTouristPoints] ([Id], [Name], [Extention]) VALUES (1, N'arroyo.jpeg', N'jpeg')
INSERT [dbo].[ImagesTouristPoints] ([Id], [Name], [Extention]) VALUES (2, N'AtlantidaTP.jpg', N'jpg')
INSERT [dbo].[ImagesTouristPoints] ([Id], [Name], [Extention]) VALUES (3, N'CaboPolonioTP.jpg', N'jpg')
SET IDENTITY_INSERT [dbo].[ImagesTouristPoints] OFF
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([Id], [Email], [Name], [Password]) VALUES (1, N'emailPerson1@gmail.com', N'NamePerson 1', N'password1')
INSERT [dbo].[Persons] ([Id], [Email], [Name], [Password]) VALUES (2, N'emailPerson2@gmail.com', N'NamePerson 2', N'password2')
INSERT [dbo].[Persons] ([Id], [Email], [Name], [Password]) VALUES (3, N'emailPerson3@gmail.com', N'NamePerson 3', N'password3')
SET IDENTITY_INSERT [dbo].[Persons] OFF
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([Id], [Name]) VALUES (1, N'Región metropolitana')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (2, N'Región Centro Sur')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (3, N'Región Este')
SET IDENTITY_INSERT [dbo].[Regions] OFF
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [HouseId], [Name], [Score], [Comment]) VALUES (1, 1, N'Name LastName 1', 1, N'Comment 1')
INSERT [dbo].[Reviews] ([Id], [HouseId], [Name], [Score], [Comment]) VALUES (2, 2, N'Name LastName 2', 2, N'Comment 2')
INSERT [dbo].[Reviews] ([Id], [HouseId], [Name], [Score], [Comment]) VALUES (3, 3, N'Name LastName 3', 3, N'Comment 3')
SET IDENTITY_INSERT [dbo].[Reviews] OFF
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([Id], [Name]) VALUES (1, N'Creada')
INSERT [dbo].[States] ([Id], [Name]) VALUES (2, N'Pendiente Pago')
INSERT [dbo].[States] ([Id], [Name]) VALUES (3, N'Aceptada')
SET IDENTITY_INSERT [dbo].[States] OFF
SET IDENTITY_INSERT [dbo].[TouristPoints] ON 

INSERT [dbo].[TouristPoints] ([Id], [Name], [ImageTouristPointId], [Description], [RegionId]) VALUES (1, N' Colonia del Sacramento', 1, N'Mágica ciudad levantada a orillas del Río de la Plata, conocida como uno de los mejores lugares turísticos de Uruguay para amantes de la historia, siendo hogar de un invaluable centro histórico declarado Patrimonio de la Humanidad por la UNESCO, donde perderse caminando entre angostas callecitas de piedra y coloridas arquitecturas coloniales.', 2)
INSERT [dbo].[TouristPoints] ([Id], [Name], [ImageTouristPointId], [Description], [RegionId]) VALUES (2, N'Montevideo', 2, N'Capital y ciudad más poblada de Uruguay, una hermosa urbe catalogada una y otra vez, en diversos rankings, como la ciudad con la mejor calidad de vida de Latinoamérica, destacando por su seguridad, limpieza, arquitectura, oferta cultural y kilómetros de playa a lo largo del Río de la Plata.', 2)
INSERT [dbo].[TouristPoints] ([Id], [Name], [ImageTouristPointId], [Description], [RegionId]) VALUES (3, N'Maldonado', 3, N'Maldonado, es la capital del departamento homónimo. Actualmente se encuentra conurbada con la ciudad de Punta del Este y de forma parcial está vinculada a la ciudad de San Carlos. Entre las tres ciudades conforman el segundo conurbano más amplio y poblado del país. El departamento en su conjunto es rico en contrastes.', 3)
SET IDENTITY_INSERT [dbo].[TouristPoints] OFF
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Houses_HouseId] FOREIGN KEY([HouseId])
REFERENCES [dbo].[Houses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Houses_HouseId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_States_StateId]
GO
ALTER TABLE [dbo].[CategoriesTouristicPoints]  WITH CHECK ADD  CONSTRAINT [FK_CategoriesTouristicPoints_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoriesTouristicPoints] CHECK CONSTRAINT [FK_CategoriesTouristicPoints_Categories_CategoryId]
GO
ALTER TABLE [dbo].[CategoriesTouristicPoints]  WITH CHECK ADD  CONSTRAINT [FK_CategoriesTouristicPoints_TouristPoints_TouristPointId] FOREIGN KEY([TouristPointId])
REFERENCES [dbo].[TouristPoints] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoriesTouristicPoints] CHECK CONSTRAINT [FK_CategoriesTouristicPoints_TouristPoints_TouristPointId]
GO
ALTER TABLE [dbo].[Houses]  WITH CHECK ADD  CONSTRAINT [FK_Houses_TouristPoints_TouristPointId] FOREIGN KEY([TouristPointId])
REFERENCES [dbo].[TouristPoints] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Houses] CHECK CONSTRAINT [FK_Houses_TouristPoints_TouristPointId]
GO
ALTER TABLE [dbo].[ImagesHouses]  WITH CHECK ADD  CONSTRAINT [FK_ImagesHouses_Houses_HouseId] FOREIGN KEY([HouseId])
REFERENCES [dbo].[Houses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImagesHouses] CHECK CONSTRAINT [FK_ImagesHouses_Houses_HouseId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Houses_HouseId] FOREIGN KEY([HouseId])
REFERENCES [dbo].[Houses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Houses_HouseId]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Persons_PersonId] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Persons_PersonId]
GO
ALTER TABLE [dbo].[TouristPoints]  WITH CHECK ADD  CONSTRAINT [FK_TouristPoints_ImagesTouristPoints_ImageTouristPointId] FOREIGN KEY([ImageTouristPointId])
REFERENCES [dbo].[ImagesTouristPoints] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TouristPoints] CHECK CONSTRAINT [FK_TouristPoints_ImagesTouristPoints_ImageTouristPointId]
GO
ALTER TABLE [dbo].[TouristPoints]  WITH CHECK ADD  CONSTRAINT [FK_TouristPoints_Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TouristPoints] CHECK CONSTRAINT [FK_TouristPoints_Regions_RegionId]
GO
