USE [UruguayNaturalDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 10/14/2020 12:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[HouseId] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[CheckIn] [datetime2](7) NOT NULL,
	[CheckOut] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/14/2020 12:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriesTouristicPoints]    Script Date: 10/14/2020 12:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesTouristicPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[TouristPointId] [int] NOT NULL,
 CONSTRAINT [PK_CategoriesTouristicPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Houses]    Script Date: 10/14/2020 12:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Houses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Avaible] [bit] NOT NULL,
	[PricePerNight] [int] NOT NULL,
	[TouristPointId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Starts] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Ilustrations] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Phone] [int] NOT NULL,
	[Contact] [nvarchar](max) NULL,
 CONSTRAINT [PK_Houses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 10/14/2020 12:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 10/14/2020 12:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 10/14/2020 12:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [uniqueidentifier] NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 10/14/2020 12:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TouristPoints]    Script Date: 10/14/2020 12:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TouristPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[RegionId] [int] NOT NULL,
 CONSTRAINT [PK_TouristPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Ciudad')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Pueblo')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Áreas protegida')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[CategoriesTouristicPoints] ON 

INSERT [dbo].[CategoriesTouristicPoints] ([Id], [CategoryId], [TouristPointId]) VALUES (1, 1, 1)
INSERT [dbo].[CategoriesTouristicPoints] ([Id], [CategoryId], [TouristPointId]) VALUES (2, 1, 2)
INSERT [dbo].[CategoriesTouristicPoints] ([Id], [CategoryId], [TouristPointId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[CategoriesTouristicPoints] OFF
SET IDENTITY_INSERT [dbo].[Houses] ON 

INSERT [dbo].[Houses] ([Id], [Avaible], [PricePerNight], [TouristPointId], [Name], [Starts], [Address], [Ilustrations], [Description], [Phone], [Contact]) VALUES (1, 1, 10, 1, N'Name contact house 1', 1, N'Address House 1', N'Ilustrations', N'Description', 99199399, N'Contact House 1')
INSERT [dbo].[Houses] ([Id], [Avaible], [PricePerNight], [TouristPointId], [Name], [Starts], [Address], [Ilustrations], [Description], [Phone], [Contact]) VALUES (2, 0, 20, 2, N'Name contact house 2', 2, N'Address House 2', N'Ilustrations', N'Description', 99299399, N'Contact House 2')
INSERT [dbo].[Houses] ([Id], [Avaible], [PricePerNight], [TouristPointId], [Name], [Starts], [Address], [Ilustrations], [Description], [Phone], [Contact]) VALUES (3, 0, 30, 3, N'Name contact house 3', 3, N'Address House 3', N'Ilustrations', N'Description', 99399399, N'Contact House 3')
SET IDENTITY_INSERT [dbo].[Houses] OFF
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([Id], [Email], [Password]) VALUES (1, N'emailPerson1', N'password1')
INSERT [dbo].[Persons] ([Id], [Email], [Password]) VALUES (2, N'emailPerson2', N'password2')
INSERT [dbo].[Persons] ([Id], [Email], [Password]) VALUES (3, N'emailPerson3', N'password3')
SET IDENTITY_INSERT [dbo].[Persons] OFF
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([Id], [Name]) VALUES (1, N'Región metropolitana')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (2, N'Región Centro Sur')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (3, N'Región Este')
SET IDENTITY_INSERT [dbo].[Regions] OFF
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([Id], [Name]) VALUES (1, N'Creada')
INSERT [dbo].[States] ([Id], [Name]) VALUES (2, N'Pendiente Pago')
INSERT [dbo].[States] ([Id], [Name]) VALUES (3, N'Aceptada')
SET IDENTITY_INSERT [dbo].[States] OFF
SET IDENTITY_INSERT [dbo].[TouristPoints] ON 

INSERT [dbo].[TouristPoints] ([Id], [Name], [Image], [Description], [RegionId]) VALUES (1, N'Name tourist point1', N'image', N'descripcion tourist point 1', 1)
INSERT [dbo].[TouristPoints] ([Id], [Name], [Image], [Description], [RegionId]) VALUES (2, N'Name tourist point2', N'image', N'descripcion tourist point 2', 2)
INSERT [dbo].[TouristPoints] ([Id], [Name], [Image], [Description], [RegionId]) VALUES (3, N'Name tourist point3', N'image', N'descripcion tourist point 3', 3)
SET IDENTITY_INSERT [dbo].[TouristPoints] OFF
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Houses_HouseId] FOREIGN KEY([HouseId])
REFERENCES [dbo].[Houses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Houses_HouseId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_States_StateId]
GO
ALTER TABLE [dbo].[CategoriesTouristicPoints]  WITH CHECK ADD  CONSTRAINT [FK_CategoriesTouristicPoints_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoriesTouristicPoints] CHECK CONSTRAINT [FK_CategoriesTouristicPoints_Categories_CategoryId]
GO
ALTER TABLE [dbo].[CategoriesTouristicPoints]  WITH CHECK ADD  CONSTRAINT [FK_CategoriesTouristicPoints_TouristPoints_TouristPointId] FOREIGN KEY([TouristPointId])
REFERENCES [dbo].[TouristPoints] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoriesTouristicPoints] CHECK CONSTRAINT [FK_CategoriesTouristicPoints_TouristPoints_TouristPointId]
GO
ALTER TABLE [dbo].[Houses]  WITH CHECK ADD  CONSTRAINT [FK_Houses_TouristPoints_TouristPointId] FOREIGN KEY([TouristPointId])
REFERENCES [dbo].[TouristPoints] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Houses] CHECK CONSTRAINT [FK_Houses_TouristPoints_TouristPointId]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Persons_PersonId] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Persons_PersonId]
GO
ALTER TABLE [dbo].[TouristPoints]  WITH CHECK ADD  CONSTRAINT [FK_TouristPoints_Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TouristPoints] CHECK CONSTRAINT [FK_TouristPoints_Regions_RegionId]
GO
