<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="
    min-height: 600px;
    background-image: url(assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  ">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-4">
              <h3 class="mb-0">Booking</h3>
              <span class="heading-small text-muted mb-4">Id {{ bookingId }}</span>
            </div>
            <div class="col-4 text-right">
              <p class="errorMessage" id="error-message">{{errorMessage}}</p>
              <p class="successMessage" id="succes-messages">{{updateMessage}}</p>
            </div>
            <div class="col-4 text-right">
              <a (click)="updateState()" class="btn btn-sm btn-primary">Update</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Name</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative"
                      value="{{ booking.name }}" disabled />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative"
                      value="{{ booking.email }}" disabled />
                  </div>
                </div>
                <div class="col-9">
                  <div class="form-group">
                    <label class="form-control-label" for="select-house">House</label>
                    <input type="text" id="input-house" class="form-control form-control-alternative"
                      value="{{ booking.house.name }}" disabled />
                  </div>
                </div>
                <div class="col-9">
                  <div class="form-group">
                    <label class="form-control-label">State</label>
                    <select class="custom-select form-control form-control-alternative"
                      [(ngModel)]="stateName"
                      name="stateName" (change)="onChangeStateName(stateName)">
                      <option disabled>Choose State</option>
                      <option *ngFor="let state of states">
                        {{ state.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-state-id">State Id</label>
                    <input type="number" id="input-state-id" class="form-control form-control-alternative"
                      value="{{ booking.stateId }}" disabled/>
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group">
                    <label class="form-control-label" for="input-code">Code</label>
                    <input tyinpute="text" id="input-code" class="form-control form-control-alternative" disabled
                      value="{{ booking.code }}" />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-price">Price</label>
                    <input type="number" id="input-price" class="form-control form-control-alternative"
                      value="{{ booking.price }}" disabled />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-date">Check In</label>
                    <input type="date" id="input-date-in" class="form-control form-control-alternative"
                      value="{{dateIn}}" disabled />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-date">Check Out</label>
                    <input type="date" id="input-date-out" class="form-control form-control-alternative"
                      value="{{dateOut}}" disabled />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
          </form>

          <button routerLink="/bookings" type="button" placement="top-center" triggers="hover focus click"
            class="btn btn-rounded btn-outline-warning" ngxClipboard [cbContent]="'air-baloon'"
            (cbOnSuccess)="copy = 'air-baloon'">
            Go back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
