<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-12">
        <h1 class="display-2 text-white">Search by</h1>
        <p class="text-white mt-0 mb-5">Enter the next data</p>
        <div>
          <form class="form">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 mt-4">
                  <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                      <div class="row align-items-center">
                        <div class="col-6">
                          <div class="input-group align-items-center">
                            <label class="form-control-label m-0 mr-3" for="input-date">Check In:</label>
                            <input type="date" id="input-date-in" class="form-control form-control-alternative">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="input-group align-items-center">
                            <label class="form-control-label m-0 mr-3" for="input-date">Check Out:</label>
                            <input type="date" id="input-date-in" class="form-control form-control-alternative">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-4">
                  <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                      <div class="row align-items-center">
                        <div class="col-6 col-md-3">
                          <div class="input-group align-items-center">
                            <label class="form-control-label mr-3" for="input-adults">Adults</label>
                            <input type="number" id="input-adults" placement="top-center" class="form-control"
                              [(ngModel)]="cantAdults" name="adults">
                          </div>
                        </div>
                        <div class="col-6 col-md-3">
                          <div class="input-group align-items-center">
                            <label class="form-control-label mr-3" for="input-children">Children</label>
                            <input type="number" id="input-children" class="form-control m-2 ml-3"
                              [(ngModel)]="cantChildren" name="children">
                          </div>
                        </div>
                        <div class="col-6 col-md-3">
                          <div class="input-group align-items-center">
                            <label class="form-control-label mr-3" for="input-babies">Babies</label>
                            <input type="number" id="input-babies" class="form-control m-2 ml-3"
                              [(ngModel)]="cantBabies" name="babies">
                          </div>
                        </div>
                        <div class="col-6 col-md-3">
                          <div class="input-group align-items-center">
                            <label class="form-control-label mr-3" for="input-retires">Retires</label>
                            <input type="number" id="input-retires" class="form-control m-2 ml-3"
                              [(ngModel)]="cantRetires" name="retires">
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="card shadow">
    <div class="card-header border-0">
      <h3 class="mb-0">Houses</h3>
    </div>

    <mat-accordion *ngFor="let house of houses; let i = index">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="mb-3">
          <mat-panel-title>
            Id: {{house.id}}
          </mat-panel-title>
          <mat-panel-description>
            Name: {{house.name}}
          </mat-panel-description>
          <mat-panel-description>
            Total Price: {{house.totalPrice}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Price per Nigh: {{house.pricePerNight}} </p>
        <p>Starts: {{house.starts}}</p>
        <p>Address: {{house.address}}</p>
        <p>Description: {{house.description}}</p>
        <p>Phone: {{house.phone}}</p>
        <p>Contact: {{house.contact}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
