<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d50504c3-2b36-48cd-a1d1-bd9470b8a234/resourceGroups/Obligatorio-DA2_group/providers/Microsoft.Web/sites/da2-obligatorio</ResourceId>
    <ResourceGroup>Obligatorio-DA2_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://da2-obligatorio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>da2-obligatorio.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>da2-obligatorio</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$da2-obligatorio</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>